/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.full-screen-div {
    width: 100%;
    height: 100%;
    background-color: rgb(9, 5, 5); /* Just for demonstration */
  }